@implements IDialogContentComponent<EntityDialogContent<ImageType>>

<FluentDialogBody>
	<FluentStack Orientation="Orientation.Vertical">
		<FluentTextField @bind-Value="@Content.Entity.Name">
			<LabelTemplate>
				<FluentLabel Weight="FontWeight.Bold">
					<FluentStack Orientation="Orientation.Horizontal">
						<span>Name</span>
						<FluentLabel Color="Color.Error">*</FluentLabel>
					</FluentStack>
				</FluentLabel>
			</LabelTemplate>
		</FluentTextField>
		<FluentSpacer Width="10" />

		@if (Content.Entity.Id != Guid.Empty)
		{
			<FluentSpacer Width="10" />
			<FluentStack Orientation="Orientation.Vertical">
				<FluentLabel Weight="FontWeight.Bold">Created</FluentLabel>
				<FluentLabel>@Content.Entity.CreatedOn.ToString("dd-MM-yyyy")</FluentLabel>
			</FluentStack>

			@if (Content.Entity.UpdatedOn.HasValue)
			{
				<FluentSpacer Width="10" />
				<FluentStack Orientation="Orientation.Vertical">
					<FluentLabel Weight="FontWeight.Bold">Modified</FluentLabel>
					<FluentLabel>@Content.Entity.UpdatedOn?.ToString("dd-MM-yyyy")</FluentLabel>
				</FluentStack>
			}
		}
	</FluentStack>
</FluentDialogBody>

@code {
	[Parameter]
	public EntityDialogContent<ImageType> Content { get; set; } = default!;
}