@*@page "/"*@
@using System.Globalization
@using Microsoft.AspNetCore.Components
@inject NavigationManager Navigation

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Filamentous.Web.styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>

@code {
    private string? navigateTo;
    protected override void OnInitialized()
    {
        var uri = new Uri(Navigation.Uri);
        var cultureQuery = Microsoft.AspNetCore.WebUtilities.QueryHelpers.ParseQuery(uri.Query).TryGetValue("culture", out var culture);

        if (cultureQuery)
        {
            var cultureInfo = new CultureInfo(culture.ToString());
            CultureInfo.DefaultThreadCurrentCulture = cultureInfo;
            CultureInfo.DefaultThreadCurrentUICulture = cultureInfo;

            string navigateTo = uri.GetLeftPart(UriPartial.Path);
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (navigateTo != null)
        {
            Navigation.NavigateTo(navigateTo, forceLoad: true); // Remove the query string after setting the culture
        }
        base.OnAfterRender(firstRender);
    }
}
